@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

// themes
// change it with https://www.radix-ui.com/colors/custom
// go in dark mode and choose color and copy accent, gray, background scale
@import 'themes/dark_default';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--gray-contrast);
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 100%;
    position: relative;
    // background-color: red;
    transition: .6s;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    // background-color: blue;
    border-radius: 2rem;
    overflow: hidden;

    transition: .6s;
}

.background {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    object-fit: cover;
    flex: 1;
    border-radius: 2rem;
}

.settingsBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 95;

    width: 48px;
    height: 48px;
    overflow: hidden;

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);


    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;



        &.learn-more {
            width: 12rem;
            height: auto;

            .circle {
                position: relative;
                display: block;
                width: 3rem;
                height: 3rem;
                margin: 0;
                background: var(--color-background);
                border-radius: 1.625rem;
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);

                .icon {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                }
            }

            .button-text {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin-left: 1.85rem;
                padding: 0.75rem 0;
                color: var(--gray-contrast);
                font-weight: 700;
                line-height: 1.6;
                text-align: center;
                text-transform: uppercase;
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                opacity: 1;
            }

            &:hover {
                .circle {
                    width: 100%;
                    background-color: var(--blue-2);

                    .icon {
                        transform: rotate(45deg);
                    }
                }

                .button-text {
                    color: var(--gray-contrast);
                    // opacity: 1;
                }
            }
        }
    }

    &:hover {
        width: 192px;
    }
}