@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

// themes
// change it with https://www.radix-ui.com/colors/custom
// go in dark mode and choose color and copy accent, gray, background scale
@import 'themes/dark_default';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--gray-contrast);
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 100%;
    position: relative;
    // background-color: red;
    transition: .6s;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;

    transition: .6s;
}

.background {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
    object-fit: cover;
    flex: 1;
    border-radius: 2rem;
}

.settingsBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 95;

    width: 48px;
    height: 48px;
    overflow: hidden;

    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);


    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;



        &.learn-more {
            width: 12rem;
            height: auto;

            .circle {
                position: relative;
                display: block;
                width: 3rem;
                height: 3rem;
                margin: 0;
                background: var(--color-background);
                border-radius: 1.625rem;
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);

                .icon {
                    position: absolute;
                    top: 12px;
                    left: 12px;
                    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                }
            }

            .button-text {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin-left: 1.85rem;
                padding: 0.75rem 0;
                color: var(--gray-contrast);
                font-weight: 700;
                line-height: 1.6;
                text-align: center;
                text-transform: uppercase;
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                opacity: 1;
            }

            &:hover {
                .circle {
                    width: 100%;
                    background-color: var(--blue-2);

                    .icon {
                        transform: rotate(45deg);
                    }
                }

                .button-text {
                    color: var(--gray-contrast);
                    // opacity: 1;
                }
            }
        }
    }

    &:hover {
        width: 192px;
    }
}

.googleService {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 95;

    justify-content: flex-end;
    text-align: right;

    &__btn {
        cursor: pointer;
        background: none;
        border: none;

        width: 3rem;
        height: 3rem;

        border-radius: 1.625rem;
        border: 3px solid var(--color-background);

        overflow: hidden;
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        opacity: 1;

        &:hover {
            transform: rotate(-15deg) scale(1.1);
        }

        img {
            width: 100%;
            height: 100%;
        }

        &.hide {
            opacity: 0;
        }
    }

    &__card {
        position: absolute;
        top: 0;
        right: 0;

        width: 400px;
        height: 600px;
        background-color: var(--color-background);
        border: 10px solid var(--blue-2);
        border-radius: 1.625rem;

        overflow-x: hidden;
        overflow-y: auto;

        // display: flex;
        display: none;
        flex-direction: column;

        &.active {
            display: flex;
            animation: gscActive 0.45s cubic-bezier(0.65, 0, 0.076, 1) forwards;

            .serviceLink {
                @for $i from 1 through 18 {
                    a:nth-child(#{$i}) {
                        animation: gscActive .6s cubic-bezier(0.65, 0, 0.076, 1) forwards;
                        animation-delay: #{($i * 0.02)}s; // 50ms entre chaque
                    }
                }
            }
        }

        &.hide {
            display: flex;
            animation: gscHide 0.45s cubic-bezier(0.65, 0, 0.076, 1) forwards;
        }

        @keyframes gscActive {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes gscHide {
            0% {
                transform: translateX(0);
                opacity: 1;
            }

            100% {
                transform: translateX(100%);
                opacity: 0;
            }
        }

        .title {
            display: flex;
            justify-content: space-between;
            // align-items: center;

            margin: 1rem 1.625rem;

            svg {
                cursor: pointer;

                padding: 3px;
                border-radius: 100%;
                background-color: var(--blue-4);

                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);

                &:hover {
                    background-color: var(--blue-5);
                    transform: rotate(15deg);
                }
            }
        }

        hr {
            border: 1px solid var(--gray-3);
        }

        .serviceLink {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            padding: 1rem 1.625rem;

            a {
                // background-color: red;
                text-align: center;
                padding: 10px;
                color: var(--gray-contrast);
                text-decoration: none;
                border-radius: 6px;
                overflow: hidden;
                transition: all 0.35s cubic-bezier(0.65, 0, 0.076, 1);
                opacity: 0;

                span {
                    $size: 35px;
                    height: $size;
                    width: $size;
                    font-size: $size;
                    // fill: var(--blue-11);
                    color: var(--blue-11);
                }

                p {
                    font-size: 16px;

                    // 1 line
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:hover {
                    background-color: var(--blue-4);
                    transform: translate(0, -5px);
                }
            }
        }
    }
}

.ccenter {
    display: flex;
    justify-content: center;
    align-items: center;
}